.btn {
    text-transform: uppercase;
    border-radius: 0px !important;
    font-size: 20px !important;

    &-primary-1{
        background-color:$color-white  !important; 
        &:hover{
            background-color: transparent !important;
            @include border(1px, solid, $color-white);
            color:$color-white !important;
        }
    }
    &-secondary-1{
        background-color:$color-bg-light-green !important; 
        color: $color-white !important;
        &:hover{
            background-color: transparent !important;
            @include border(1px, solid, $color-bg-light-green);
            color:$color-white !important;
        }
    }
}