
//mixins
$breakpoints: (
  'custom-small-mobile-max': (max-width: 359px),
  'portrait-mobile-max': (max-width: 575px),
  'mobile-min': (min-width: 576px),
  'mobile-max': (max-width: 767px),
  'ipad-min': (min-width: 768px),
  'ipad-portrait': only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1),
  'ipad-landscape':  only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
  'ipad-pro-portrait':only screen (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),            
  'ipad-pro-landscape':only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
  'desktop-min': (min-width: 992px),
  'desktop-max': (max-width: 1199px),
  'large-desktop-min': (min-width: 1200px),
  'medium-large-desktop-min': (min-width: 1366px),
  'medium-large-desktop-max': (max-width: 1400px),
);

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}

@mixin bgimg{
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Center Block
@mixin center-block {
    display: block;
    margin: 0 auto;
}
//content center
@mixin content_center($flex_val1,$flex_val2){
    display: flex;
    justify-content: $flex_val1;
    align-items:$flex_val2 ;
 }
 //border
@mixin border-bottom ($width, $style, $color) {
    border-bottom: $width $style $color ;
}
@mixin border-right ($width, $style, $color) {
    border-right: $width $style $color ;
}
@mixin border ($width, $style, $color){
    border: $width $style $color;
}
