// Color
$color-white: #FFFFFF;
$color-black: #000000;

//text color
$para-text-color:#505050;

//bg color
$color-bg-dark-green:#0F5C30;
$color-bg-medium-green:#1B7642;
$color-bg-medium-dark:#136a38;
$color-bg-light-green:#44AF72;

//dot bg color
$color-bg-blue:#265781;
$color-bg-lightest-green:#52b27b;
$color-bg-yellow:#f2e162;;